body {
  background: linear-gradient(45deg, #fb7354, hsl(88, 98%, 75%));
  /* The first color (#FF5733) starts from the top-left corner, and the second color (#33FF57) starts from the bottom-right corner. */
  /* You can change the angle to control the direction of the gradient. */
  
  /* Additional styling for the body */
  margin: 0;
  padding: 0;
  height: 100vh;
}

.gradient {
  background: linear-gradient(45deg, #fb7354, hsl(88, 98%, 75%));
}
